<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <style>
    label {
      display: block;
    }

    .dependent-option {
      padding-left: 10px;
    }
  </style>
</head>
<body>
<h2>LeoTranslate Settings</h2>

<form>
  <h3>Context Capturing</h3>
  <label>
    <input type="checkbox" name="context-capturing" class="js-option" disabled>
    Enable Context Capturing (This is an experimental feature)
  </label>
  <label class="dependent-option">
    <input type="checkbox" name="context-visible" class="js-option" data-if-checked="context-capturing" disabled>
    Show captured context in translate popup.
  </label>

  <h3>Double Click Translation</h3>
  <label>
    <input type="checkbox" name="double-click" class="js-option" disabled>
    Double click to translate
  </label>
  <label class="dependent-option">
    <input type="checkbox" name="double-click-ctrl" class="js-option" data-if-checked="double-click" disabled>
    Only with Ctrl key.
  </label>
  <label class="dependent-option">
    <input type="checkbox" name="double-click-alt" class="js-option" data-if-checked="double-click" disabled>
    Only with Alt key.
  </label>
  <label class="dependent-option">
    <input type="checkbox" name="double-click-meta" class="js-option" data-if-checked="double-click" disabled>
    Only with Cmd (OSX) or Windows key.
  </label>
</form>
<script src="../dist/options-page.js"></script>
</body>
</html>
