@import 'mixins';

$theme-path: '../assets/themes/leo-translate/';

.translate {
    background-color: #fff;
    border: #d7d7db 1px solid;
}

.translate__base-form-link {
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dotted;
}

.translate__loading, .translate__error {
    padding: 10px 0;
    margin: 0;
}


// TranslateContext Component
// ----------------------------------------------

.translate-context__controls {
    border-top: 1px solid #ccc;
    text-align: center;
}

.translate-context__content {
    margin-top: 3px;
}


// TranslateHeader Component
// ----------------------------------------------
.translate-header {
}

.translate-header__controls {
    display: flex;
    align-items: stretch;
}

.translate-header__btn {
    border: solid 1px #fff;
    background-color: #fff;
    outline-color: #fff;
}

.translate-header__btn-refresh,
.translate-header__btn-close,
.translate-header__btn-play {
    background: no-repeat center;
    background-size: contain;
    padding: 0;
    font-size: 0;
    width: 25px;
    height: 25px;
}

.translate-header__btn-close {
    background-image: url('#{$theme-path}close.svg');
    margin-left: auto;

    &:hover {
        @include mask-svg-background('#{$theme-path}close.svg', red);
    }
}

.translate-header__btn-refresh {
    background-image: url('#{$theme-path}refresh.svg');
    margin-right: 5px;

    &:hover {
        @include mask-svg-background('#{$theme-path}refresh.svg', #45a1ff);
    }
}

.translate-header__btn-play {
    background-image: url('#{$theme-path}play.svg');

    &:hover {
        @include mask-svg-background('#{$theme-path}play.svg', #45a1ff);
    }

    &.translate-header__btn-play_playing {
        @include mask-svg-background('#{$theme-path}play.svg', #30e60b);
    }
}

.translate-header__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.translate-header__text {
    margin: 3px auto 3px 0;
    word-break: break-all;
}

.translate-header__transcription {
    word-wrap: break-word;
    word-break: break-all;
}


// TranslateList Component
// ----------------------------------------------
.translate-list {
    position: relative;
}

.translate-list__list {
    padding: 10px 0;
    margin: 0;

    &:hover .translate-list__rating {
        display: none;
    }
}

.translate-list__item {
    display: block;
    margin: 0;
    padding: 2px 5px;
}

.translate-list__item_meaning {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    cursor: pointer;
    word-wrap: break-word;

    &:hover {
        background-color: #ededf0;
        border-color: #b1b1b3;
    }
}

.translate-list__rating {
    width: 0;
    height: 2px;
    position: absolute;
    top: -1px;
    left: 0;
    background-color: #30e60b;
}

.translate-list__add-meaning {
    padding: 0;
    border: 1px solid white;
    width: 100%;

    &:focus {
        border-bottom-color: black;
    }
}

.translate-list__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .7);
}
